{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "indent": ["warn", 2],
    "no-unused-vars": ["off", { "vars": "local" }],
    "prefer-const": "warn",
    "quotes": ["warn", "single"],
    "react/prop-types": "off",
    "semi": [2, "always"],
    "react/prefer-stateless-function": "off",
    "react/jsx-key": "warn",
    "space-infix-ops": "warn",
    "no-empty": "warn",
    "no-empty-function": "warn",
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
